*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Main-Wrapper {
    display: flex;
    flex-direction: column;
}

/*  POST   STYLES   */
.Post-Section {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Post-Title {
    font-size: 2.4rem;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.Content-Wrapper p {
    padding: 0 40px;
    font-size: 1.4rem;
    text-align:justify;
    line-height:1.5em;
}

.Count-Wrapper p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: darkslategrey;
}

/*POST STYLES END*/

.Comment-Section {
    width: 100%;
}

.Comment-Section p {
    margin-bottom: 5px;
}

.Card-Wrapper{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(58, 179, 220);
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 1024px;
    margin: 20px;
    padding: 25px;
    color: white;
}

.Card-Title{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.Card-Description{
    font-size: 1.6rem;
    margin-bottom: 15px;
}



.Card-Delete{
    background-color:rgb(238, 82, 25);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: white;   
    margin-left: 80%;
}

.Card-Delete:focus{
    outline: none;
    background-color: red;
}

.Title-Contanier, .Desc-Contanier {
    display: flex;
    flex-direction: column;
}

.Form-Wrapper{
    padding: 25px 50px;
    font-size: 1.6rem;
    background-color: rgb(148, 228, 228);
}
.Title-Input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

.Desc-Input {
    width: 100%;
    height: 60px;
    margin-bottom:15px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}


.Add-Button{
    height: 35px;
    width: 100px;
}