*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Main-Wrapper {
    display: flex;
    flex-direction: column;
}

/*  POST   STYLES   */
.Post-Section {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Post-Title {
    font-size: 2.4rem;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.Content-Wrapper {
    font-size: 1.4rem;
    text-align:justify;
    line-height:1.5em;
    border: 3px solid rgb(58, 179, 220);
    border-radius: 10px;
    max-width: 1024px;
    margin: 20px auto;
    padding: 25px;
}

.Count-Wrapper {
    font-size: 1.8rem;
    max-width: 1024px;
    margin: 0 auto;
}

/*POST STYLES END*/

.Comment-Section {
    width: 100%;
}

.Card-Wrapper{
    background-color: rgb(58, 179, 220);
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 1024px;
    margin: 20px auto;
    padding: 25px;
    color: white;
}

.Card-Title{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.Card-Description {
    font-size: 1.6rem;
    margin-bottom: 15px;
}



.Delete-Button{
    background-color:rgb(238, 82, 25);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
}

.Delete-Button:hover{
    outline: none;
    background-color: red;
}

.Title-Contanier, .Desc-Contanier {
    display: flex;
    flex-direction: column;
}

.Form-Wrapper{
    padding: 25px 50px;
    font-size: 1.6rem;
    background-color: rgb(40, 138, 218);
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 1024px;
    margin: 20px auto;
    padding: 25px;
}

.Form-Title {
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
}

.Title-Input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

.Desc-Input {
    width: 100%;
    height: 60px;
    margin-bottom:15px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}


.Add-Button{
    background-color:rgb(26, 24, 158);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
}